# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# MCCPS
*.txt
example/
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
*.cfg
*.log
